$tabletMenuFontSize: 14px;

header {
	
	.main-navigation {
		margin-bottom: 50px;;
		
		@include tablet-only {
			margin-left: 120px;
			margin-right: 120px;
			width: auto;
		}
		
		@include desktop {
			margin-left: 220px;
			margin-right: 220px;
			width: auto;
		}
		
		&.toggled {
			
			.menu-container {
				
				@include mobile-only {
					height: 100vh;
				}
				
				.menu {
					
					@include mobile-only {
						
						li {
							opacity: 1;
						}
					}
				}
			}
		}
		
		button {
			
			@include mobile-only {
				z-index: $z-index-mobile-hamburger;
				position: absolute;
				opacity: 1 !important;
				left: 2px;
			}
			
			&.menu-toggle {
				
				@include tablet {
					display: none;
				}
				
				&:before {
					content: none;
				}
				
				.hamburger-inner::before {
					border-radius: 2px;
				}
			}
		}
		
		.menu-container {
			$menuOpenSpeed: 350ms;
			
			@include mobile-only {
				position: fixed;
				z-index: $z-index-mobile-menu;
				top: 0;
				left: 0;
				width: 100vw;
				height: 0;
				background-color: white;
				transition: height $menuOpenSpeed ease-in-out;
			}
			
			.menu {	
				@include Montserrat;
				text-transform: uppercase;
				list-style: none;
				margin: auto;
				padding: 0;
				width: 100%;
				text-align: center;

				@include mobile-only {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				
				li {
					display: inline-block;
					position: relative;
					margin: 8px;

					@include mobile-only {
						display: block;
						margin: 0;
						opacity: 0;
						transition-delay: $menuOpenSpeed;
						transition: opacity 250ms ease;
					}
					
					@include tablet-only {
						margin: 0;
					}
					
					a {
						padding: 6px 8px 6px 8px;
						color: #000;
						text-decoration: none;
						border: 1px solid transparent;
						border-radius: 3px;
						text-align: left;
						font-size: 22px;

						@include mobile-only {
							display: block;
							width: 100%;
							padding: 40px 15px;
							text-align: center;
						}
						
						@include tablet-only {
							font-size: $tabletMenuFontSize;
						}
					}
				}
			}
		}
	}
	
	.site-branding {
		max-width: 600px;
		margin: 0 auto 50px auto;
		
		@include mobile-only {
			margin-top: 60px;
		}
	}
	
	.fjb-checkout {
		text-align: center;
		
		@include tablet {
			position: absolute;
			right: 20px;
			top: 15px;
			width: 200px;
			z-index: $z-index-fjb-checkout;
		}
		
		a {
			display: block;
			text-decoration: none;
			@include black-button;
			
			@include mobile-only {
				padding: 20px;
				margin-bottom: 50px;

				&:active {
					position: relative;
					box-shadow: none;
					top: 6px;
				}
			}
			
			span {
				@include Montserrat;
				text-transform: uppercase;
				
				@include mobile-only {
					display: block;
				}
				
				@include tablet-only {
					font-size: $tabletMenuFontSize;
				}
			}
		}
	}
}

.above-shop-section {

	.product-categories {
		padding-left: 0;
		text-align: center;
		margin: 0 0 50px 0;
		list-style: none;

		li {
			display: inline-block;
			margin: 0 20px;
			font-size: 16px;

			@include mobile-only {
				display: block;
				margin: 0 auto 30px auto;
				font-size: 22px;
			}

			a {
				text-decoration: none;
				color: #000;
				
				transition: opacity 0.3s ease;
				display: inline-block;
				opacity: 1;

				&:hover, &:focus, &:active {
					opacity: 0.9;
					color: #000; // Override global a:hover color change
				}
			}
		}
	}
}