.product {

	.product-images {
		margin-bottom: 40px;

		.product-gallery {
			display: flex;
			flex-direction: column;
			gap: 15px;

			.gallery-link {
				display: block;
				cursor: pointer;
				text-decoration: none;
				transition: opacity 0.3s ease;

				&:hover {
					opacity: 0.8;
				}

				img {
					width: 100%;
					height: auto;
					display: block;

					&.main-image {
						width: 100%;
						max-width: 100%;
					}

					&.gallery-image {
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}
	}

	.summary {
		text-align: left;
		margin: 0;

		&.entry-summary {

			@include mobile-only {
				margin: 0 0 100px 0;
			}
		}
	}

	.price {

		.amount {
			color: black;
		}
	}

	.stock {
		color: black;
	}

	[itemprop="description"] {
		margin-bottom: 40px;

		p {
			margin-bottom: 10px;
		}
	}

	.single_add_to_cart_button {
		@include black-button;

		@include mobile-only {
			width: 100%;
		}
	}
}