.related {
	
	.products {
		
		.product {
			
			@include mobile-only {
				width: 48%;
				float: left;
				clear: both;
				margin: 0 0 20px 0;
				
				&:nth-child(2n) {
					float: right;
				}
				
				a {
					
					img {
						margin: 0;
					}
				}
			}
		}
	}
}