@use "sass:math";

.products {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	margin: 0 -15px;
	padding: 0;
	list-style: none;
	clear: both;

	.product {
		display: flex;
		flex-direction: column;
		width: calc(25% - 30px);
		margin: 0 15px 40px 15px;
		box-sizing: border-box;
		float: none;
		align-items: stretch;

		@include tablet-only {
			width: calc(50% - 30px);
		}

		@include mobile-only {
			width: calc(100% - 30px);
		}

		a {
			text-decoration: none;
			display: flex;
			flex-direction: column;
			flex: 1;

			.product-image-wrapper {
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				position: relative;
				overflow: hidden;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				flex-shrink: 0;
				min-height: 0;
				display: block;

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0;
					pointer-events: none;
					visibility: hidden;
					display: block;
				}
			}
		}

		.price {
			margin-bottom: 10px;

			.amount {
				color: $accent-color;
				font-weight: bold;
			}
		}

		.star-rating {
			margin-bottom: 10px;
		}
	}
}