@use "sass:math";

.above-shop-section {

	.product-categories {
		padding-left: 0;
		text-align: center;
		margin: 0 0 20px 0;

		@include mobile-only {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		li {
			display: inline-block;
			margin: 0 20px;
		}
	}
}

.products {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	margin: 0 -15px;
	padding: 0;
	list-style: none;
	clear: both;

	.product {
		display: flex;
		flex-direction: column;
		width: calc(33.333% - 30px);
		margin: 0 15px 40px 15px;
		box-sizing: border-box;
		float: none;

		@include tablet-only {
			width: calc(50% - 30px);
		}

		@include mobile-only {
			width: calc(100% - 30px);
		}

		a {
			text-decoration: none;
			display: block;

			.product-image-wrapper {
				width: 100%;
				padding-bottom: 100%; // Makes it square (aspect ratio 1:1)
				position: relative;
				overflow: hidden;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0;
					pointer-events: none;
				}
			}
		}

		.price {
			margin-bottom: 10px;

			.amount {
				color: $accent-color;
				font-weight: bold;
			}
		}

		.star-rating {
			margin-bottom: 10px;
		}
	}
}