
.container, .container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box; 
}

.container {
	max-width: 100%;

	@include tablet {
		max-width: 720px;
	}

	@include desktop {
		max-width: 960px;
	}

	@include desktop-large {
		max-width: 1140px;
	}
}

.container-fluid {
	max-width: 100%;
}

.container-sm {
	@extend .container;
	
	@include tablet {
		max-width: 540px;
	}
}

.container-md {
	@extend .container;
	
	@include tablet {
		max-width: 720px;
	}
}

.container-lg {
	@extend .container;
	
	@include desktop {
		max-width: 960px;
	}
	
	@include desktop-large {
		max-width: 1140px;
	}
}

.container-xl {
	@extend .container;
	
	@include desktop {
		max-width: 960px;
	}
	
	@include desktop-large {
		max-width: 1320px;
	}
}