#primary {
	max-width: 990px;
	
	&.woocommerce-shop {
		max-width: 1200px;
		margin: 0 auto;
	}
}

#site-logo {
	
	@include tablet {
		width: 50%;
		max-width: 450px;
	}
}

.page-title {
	display: none;
}

.entry-title {
	margin-top: 0;
}

.woocommerce {
	
	a.button {
		@include black-button;
	}
}